@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/* font-family: 'Outfit', sans-serif; */

:root{
    --clr-White: hsl(0, 0%, 100%);
    --clr-Light-gray: hsl(212, 45%, 89%);
    --clr-Grayish-blue: hsl(220, 15%, 55%);
    --clr-Dark-blue: hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    min-height:100vh;
    background-color: var(--clr-Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: Outfit, sans-serif;
    font-weight: 400;
    text-align: center;
    
}

.qr_container{
    background-color: var(--clr-White);
    max-width: 250px;
    border-radius: 15px;
    padding: 13.5px;
}

.qr_image{
    aspect-ratio: 1/1;
}
.qr_image img{
    max-width: 100%;
    border-radius: 7.5px;
}

.qr_text{
    
    padding: 10px ; 
}

.qr_text h1{
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 700;
    color: var(--clr-Dark-blue);
}

.qr_text p{
    font-size: 15px;
    color: var(--clr-Grayish-blue);
}

@media (max-width: 375px){
    .qr_container{
        padding: 15px;

    }
    .qr_text{
        padding: 5px 7.5px;
    }
    .qr_text h1{
        font-size: 19px;
        padding-bottom: 10px;
    }
    .qr_text p{
        font-size: 15px;
    }

}


